[Desktop Entry]
Encoding=UTF-8
Name=REC Studio
GenericName=RecStudio
Comment=Cross platform interactive decompiler. 
Exec=/usr/bin/recstudio
Icon=/usr/share/pixmaps/recstudio.png
Terminal=false
Type=Application

