[Desktop Entry]
Encoding=UTF-8
Exec=/opt/w3af/startscript.sh
Icon=/opt/w3af/core/ui/gtkUi/data/w3af_icon.jpeg
Type=Application
Terminal=false
MultipleArgs=false
Name=w3af
GenericName=w3af
StartupNotify=false
Categories=Application;Network;

