pkg/
src/
trunk/

/repo/
/build/
/chroot/
/alt/

*.swp
*~
*.tmp
tags

*.part
*.7z
*.asc
*.bz2
*.bzip
*.db
*.db.*
*.deb
*.dmg
*.egg
*.gem
*.gz
*.iso
*.jar
*.lzma
*.pdf
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
