pkg/
src/
trunk/

/real-repo/
/repo/
/build/
/chroot/
/alt/
/logs

/.gnupg/
/.subversion/

*.swp
*~
*.tmp
tags

.MTREE
.PKGINFO

.vim.session
*.part
*.7z
*.asc
*.bz2
*.bzip
*.db
*.db.*
*.deb
*.dmg
*.egg
*.gem
*.gz
*.iso
*.jar
*.lzma
!*.lzma/
*.pdf
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
*.key
*.h
*.c
*.java
*.jpg
*.png
*.exe
*.zst
*.log
/scripts/arm-qemu/armv6/
/scripts/arm-qemu/armv7/
!/scripts/arm-qemu/armv6/init.sh
!/scripts/arm-qemu/armv6/kill.sh
!/scripts/arm-qemu/armv6/run.sh
!/scripts/arm-qemu/armv7/init.sh
!/scripts/arm-qemu/armv7/run.sh
/tmp/
scripts/images/docker/output
!/packages/python2-fullcontact.py
blackarch-mirrorlist
!/packages/tor-browser-en/tor-browser-en.png
!/packages/tor-browser-en/tor-browser-en.sh
!/packages/tor-browser-en/tor-browser-en.desktop
!/packages/owtf/BIG-IP_cookie_decoder.py
!/packages/skipfish/skipfish-bin.tar.xz
!/packages/python-github3.py
!/packages/pygtk/pygtk-2.24.0-patched.tar.xz
!/packages/pygtk/pygtk-2.24.0-patched-arm.tar.xz
!/bluez-hciconfig/*.c
!/bluez-hciconfig/*.h
!/bluez-hciconfig/*.txt
!/bluez-hciconfig/*.1
