Ari Mizrahi <codemunchies@gmail.com>
Tyler Bennett <tylerb@trix2voip.com>
Francesco Piccinno <stack.box@gmail.com> <nopper@archpwn.org>
Levon 'noptrix' Kayan <noptrixÅ@nullsecurity.net> <noptrix@nullsecurity.net> 
Ellis kenyo <izx64@users.noreply.github.com> <elken.tdos@gmail.com>
Jeremy Lynch <jl@adminempire.com> <jl AT adminempire DOT com>
