Ari Mizrahi <codemunchies@gmail.com>
Ellis kenyo <izx64@users.noreply.github.com> <elken.tdos@gmail.com>
Francesco Piccinno <nopper@archpwn.org>
Francesco Piccinno <stack.box@gmail.com>
Jeremy Lynch <jl@adminempire.com> <jl AT adminempire DOT com>
Levon 'noptrix' Kayan <noptrix@nullsecurity.net>
Levon 'noptrix' Kayan <root@blackarch-dev.home>
Tyler Bennett <tylerb@trix2voip.com>
