[Desktop Entry]
Name=Evan's Debugger
GenericName=Debugger
Comment=QT4 based binary mode debugger
TryExec=edb
Exec=edb
Terminal=false
Type=Application
#Icon=edb
Categories=Application;Development;
Actions=Debug
MimeType=application/x-executable

[Desktop Action Debug]
Exec=edb --run %f
Name=Evan's Debugger (debug with)
