[Desktop Entry]
Encoding=UTF-8
Name=peepdf
GenericeName=peepdf
Exec=python2 /blackarch/forensics/peepdf/peepdf.py
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;