[Desktop Entry]
Encoding=UTF-8
Name=tcpdump
GenericeName=tcpdump
Exec=/blackarch/intelligence_gathering/tcpdump/tcpdump
Terminal=true
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;