[Desktop Entry]
Encoding=UTF-8
Name=beef
GenericeName=beef
Exec=/blackarch/exploitation/beef/beef
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;
