[Desktop Entry]
Encoding=UTF-8
Name=theharvester
GenericeName=theharvester
Exec=python2 /blackarch/intelligence_gathering/theharvester/theHarvester.py
Terminal=true
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;