[Desktop Entry]
Encoding=UTF-8
Name=pdfid
GenericeName=pdfid
Exec=python2 /blackarch/forensics/pdf-didier/pdfid.py
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;