[Desktop Entry]
Encoding=UTF-8
Name=sqlninja
GenericeName=sqlninja
Exec=perl /blackarch/exploitation/sqlninja/sqlninja
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;