[Desktop Entry]
Encoding=UTF-8
Name=zaproxy
GenericeName=zaproxy
Exec=/blackarch/intelligence_gathering/zaproxy/zap.sh
Terminal=false
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackIntel;