[Desktop Entry]
Encoding=UTF-8
Name=burpsuite
GenericeName=burpsuite
Exec=java -jar /blackarch/intelligence_gathering/burpsuite/burpsuite_v1.4.01.jar
Terminal=false
Type=Application
Icon=blackarch_007
StartupNotify=false
Categories=BlackIntel;