[Desktop Entry]
Encoding=UTF-8
Name=sqlmap
GenericeName=sqlmap
Exec=python2 /blackarch/exploitation/sqlmap/sqlmap.py
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;