[Desktop Entry]
Encoding=UTF-8
Name=hashid
GenericeName=hashid
Exec=python2 /blackarch/intelligence_gathering/hashid/hashid-1.1.py
Terminal=false
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;
