[Desktop Entry]
Encoding=UTF-8
Name=nmap
GenericeName=nmap
Exec=/blackarch/intelligence_gathering/nmap/zenmap
Terminal=false
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;