[Desktop Entry]
Encoding=UTF-8
Name=pentbox
GenericeName=pentbox
Exec=/blackarch/vulnerability_analysis/pentbox/pentbox.rb
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackAnalysis;