[Desktop Entry]
Encoding=UTF-8
Name=snmpcheck
GenericeName=snmpcheck
Exec=perl /blackarch/intelligence_gathering/snmpcheck/snmpcheck.pl
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackIntel;