[Desktop Entry]
Encoding=UTF-8
Name=ddrescue
GenericeName=ddrescue
Exec=/blackarch/forensics/ddrescue/ddrescue
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;