[Desktop Entry]
Encoding=UTF-8
Name=cms-explorer
GenericeName=cms-explorer
Exec=perl /blackarch/intelligence_gathering/cms-explorer/cms-explorer.pl
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackIntel;