[Desktop Entry]
Encoding=UTF-8
Name=dnsenum
GenericeName=dnsenum
Exec=perl /blackarch/intelligence_gathering/dnsenum/dnsenum.pl
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;