[Desktop Entry]
Encoding=UTF-8
Name=pwnat
GenericeName=pwnat
Exec=/blackarch/post_exploitation/pwnat/pwnat
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;