[Desktop Entry]
Encoding=UTF-8
Name=arpwatch
GenericeName=arpwatch
Exec=/blackarch/miscellaneous/arpwatch/arpwatch
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackMisc;