[Desktop Entry]
Encoding=UTF-8
Name=chownat
GenericeName=chownat
Exec=perl /blackarch/post_exploitation/chownat/chownat-007.pl
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;