[Desktop Entry]
Encoding=UTF-8
Name=ssldump
GenericeName=ssldump
Exec=/blackarch/intelligence_gathering/ssldump/sbin/ssldump
Terminal=true
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;
