[Desktop Entry]
Encoding=UTF-8
Name=macchanger
GenericeName=macchanger
Exec=/blackarch/vulnerability_analysis/macchanger/macchanger
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackMisc;
