[Desktop Entry]
Encoding=UTF-8
Name=reaver-wps
GenericeName=reaver-wps
Exec=/blackarch/exploitation/reaver-wps/bin/reaver
Terminal=true
Type=Application
Icon=blackarch_007
StartupNotify=false
Categories=BlackExploitation;