[Desktop Entry]
Encoding=UTF-8
Name=wireshark
GenericeName=wireshark
Exec=/blackarch/intelligence_gathering/wireshark/wireshark
Terminal=false
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;