[Desktop Entry]
Encoding=UTF-8
Name=geoipgen
GenericeName=geoipgen
Exec=/blackarch/miscellaneous/geoipgen/geoipgen
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackMisc;