[Desktop Entry]
Encoding=UTF-8
Name=websploit
GenericeName=websploit
Exec=python2 /blackarch/exploitation/websploit/wsfconsole
Terminal=true
Type=Application
Icon=blackarch_010
StartupNotify=false
Categories=BlackExploitation;
