[Desktop Entry]
Encoding=UTF-8
Name=magictree
GenericeName=magictree
Exec=java -jar /blackarch/threat_modeling/magictree/bin/MagicTree-1.2-build1802.jar
Terminal=false
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackModeling;
