[Desktop Entry]
Encoding=UTF-8
Name=tcpreplay
GenericeName=tcpreplay
Exec=/blackarch/vulnerability_analysis/tcpreplay/tcpreplay
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackAnalysis;