[Desktop Entry]
Encoding=UTF-8
Name=netcat
GenericeName=netcat
Exec=/blackarch/post_exploitation/netcat/netcat
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;