[Desktop Entry]
Encoding=UTF-8
Name=edb
GenericeName=edb
Exec=/blackarch/vulnerability_analysis/edb/edb-0.9.18/edb
Terminal=false
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackAnalysis;