[Desktop Entry]
Encoding=UTF-8
Name=vidalia
GenericeName=vidalia
Exec=/blackarch/miscellaneous/vidalia/vidalia
Terminal=false
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackMisc;
