[Desktop Entry]
Encoding=UTF-8
Name=aircrack-ng
GenericeName=aircrack-ng
Exec=/blackarch/exploitation/aircrack-ng/aircrack-ng
Terminal=true
Type=Application
Icon=blackarch_008
StartupNotify=false
Categories=BlackExploitation;