[Desktop Entry]
Encoding=UTF-8
Name=ettercap
GenericeName=ettercap
Exec=/blackarch/post_exploitation/ettercap/ettercap-gtk
Terminal=false
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;