[Desktop Entry]
Encoding=UTF-8
Name=arp-scan
GenericeName=arp-scan
Exec=/blackarch/intelligence_gathering/arp-scan/arp-scan
Terminal=true
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;