[Desktop Entry]
Encoding=UTF-8
Name=volatility
GenericeName=volatility
Exec=python2 /blackarch/forensics/volatility/vol.py
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;