[Desktop Entry]
Encoding=UTF-8
Name=netcommander
GenericeName=netcommander
Exec=python2 /blackarch/post_exploitation/netcommander/netcmd.py
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;