[Desktop Entry]
Encoding=UTF-8
Name=scapy
GenericeName=scapy
Exec=python2 /blackarch/vulnerability_analysis/scapy/bin/scapy
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackAnalysis;