[Desktop Entry]
Encoding=UTF-8
Name=tcpjunk
GenericeName=tcpjunk
Exec=/blackarch/vulnerability_analysis/tcpjunk/bin/tcpjunk
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackAnalysis;