[Desktop Entry]
Encoding=UTF-8
Name=set
GenericeName=set
Exec=python2 /blackarch/exploitation/set/set
Terminal=true
Type=Application
Icon=blackarch_010
StartupNotify=false
Categories=BlackExploitation;