[Desktop Entry]
Encoding=UTF-8
Name=fang
GenericeName=fang
Exec=python2 /blackarch/vulnerability_analysis/fang/fang.py
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackAnalysis;