[Desktop Entry]
Encoding=UTF-8
Name=fimap
GenericeName=fimap
Exec=python2 /blackarch/exploitation/fimap/fimap.py
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;