[Desktop Entry]
Encoding=UTF-8
Name=ettercap
GenericeName=ettercap
Exec=ettercap-gtk
Terminal=false
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;