[Desktop Entry]
Encoding=UTF-8
Name=sipvicious
GenericeName=sipvicious
Exec=python2 /blackarch/vulnerability_analysis/sipvicious/svmap.py
Terminal=true
Type=Application
Icon=blackarch_011
StartupNotify=false
Categories=BlackExploitation;