[Desktop Entry]
Encoding=UTF-8
Name=slowhttptest
GenericeName=slowhttptest
Exec=/blackarch/vulnerability_analysis/slowhttptest/bin/slowhttptest
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;