[Desktop Entry]
Encoding=UTF-8
Name=netglub
GenericeName=netglub
Exec=/blackarch/intelligence_gathering/netglub/qng/bin/unix-debug/netglub
Terminal=false
Type=Application
Icon=blackarch_005
StartupNotify=false
Categories=BlackIntel;