[Desktop Entry]
Encoding=UTF-8
Name=dirbuster
GenericeName=dirbuster
Exec=java -jar /blackarch/intelligence_gathering/dirbuster/DirBuster-1.0-RC1.jar
Terminal=false
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;
