[Desktop Entry]
Encoding=UTF-8
Name=stunnel
GenericeName=stunnel
Exec=/blackarch/post_exploitation/stunnel/stunnel
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;