[Desktop Entry]
Encoding=UTF-8
Name=fern-wifi-cracker
GenericeName=fern-wifi-cracker
Exec=python2 /blackarch/exploitation/fern-wifi-cracker/execute.py
Terminal=false
Type=Application
Icon=blackarch_008
StartupNotify=false
Categories=BlackExploitation;