[Desktop Entry]
Encoding=UTF-8
Name=nikto
GenericeName=nikto
Exec=perl /blackarch/intelligence_gathering/nikto/nikto.pl
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackIntel;