[Desktop Entry]
Encoding=UTF-8
Name=dig
GenericeName=dig
Exec=/blackarch/intelligence_gathering/dig/dig
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;