[Desktop Entry]
Encoding=UTF-8
Name=dnsbf
GenericeName=dnsbf
Exec=python2 /blackarch/intelligence_gathering/dnsbf/dnsbf.py
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;