[Desktop Entry]
Encoding=UTF-8
Name=ncrack
GenericeName=ncrack
Exec=/blackarch/vulnerability_analysis/ncrack/ncrack
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackAnalysis;