[Desktop Entry]
Encoding=UTF-8
Name=xsser
GenericeName=xsser
Exec=python2 /blackarch/exploitation/xsser/xsser --gtk
Terminal=true
Type=Application
Icon=blackarch_003
StartupNotify=false
Categories=BlackExploitation;