[Desktop Entry]
Encoding=UTF-8
Name=testdisk
GenericeName=testdisk
Exec=/blackarch/forensics/testdisk/testdisk
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;