[Desktop Entry]
Encoding=UTF-8
Name=socat
GenericeName=socat
Exec=/blackarch/post_exploitation/soccat/soccat
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;
