[Desktop Entry]
Encoding=UTF-8
Name=pdf-parser
GenericeName=pdf-parser
Exec=python2 /blackarch/forensics/pdf-didier/pdf-parser.py
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;