[Desktop Entry]
Encoding=UTF-8
Name=sslscan
GenericeName=sslscan
Exec=/blackarch/vulnerability_analysis/sslscan/sslscan
Terminal=true
Type=Application
Icon=blackarch_002
StartupNotify=false
Categories=BlackAnalysis;