[Desktop Entry]
Encoding=UTF-8
Name=proxytunnel
GenericeName=proxytunnel
Exec=/blackarch/post_exploitation/proxytunnel/proxytunnel
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;