[Desktop Entry]
Encoding=UTF-8
Name=dnsmap
GenericeName=dnsmap
Exec=/blackarch/intelligence_gathering/dnsmap/dnsmap
Terminal=true
Type=Application
Icon=blackarch_009
StartupNotify=false
Categories=BlackIntel;