[Desktop Entry]
Encoding=UTF-8
Name=metasploit
GenericeName=metasploit
Exec=/blackarch/exploitation/metasploit/msfconsole
Terminal=true
Type=Application
Icon=blackarch_001
StartupNotify=false
Categories=BlackExploitation;