[Desktop Entry]
Encoding=UTF-8
Name=sleuthkit
GenericeName=sleuthkit
Exec=/blackarch/forensics/sleuthkit/sleuthkit/fsstat
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackForensics;
