[Desktop Entry]
Encoding=UTF-8
Name=socat
GenericeName=socat
Exec=/blackarch/post_exploitation/socat/socat
Terminal=true
Type=Application
Icon=blackarch_004
StartupNotify=false
Categories=BlackPost;
