[Desktop Entry]
Encoding=UTF-8
Name=artillery
GenericeName=artillery
Exec=python2 /blackarch/miscellaneous/artillery/artillery.py
Terminal=true
Type=Application
Icon=blackarch_006
StartupNotify=false
Categories=BlackMisc;