[Desktop Entry]
Name=ATI Catalyst Control Center
Comment=ATI graphics adapter settings
Name[de]=ATI Catalyst Control Center
Comment[de]=ATI grafics adapter settings
Icon=ccc_large
MiniIcon=ccc_small
Exec=amdcccle
Type=Application
Terminal=false
Categories=Settings;DesktopSettings;
