[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ophcrack
Comment=LM and SAM hash cracker
Exec=ophcrack
Icon=/usr/share/ophcrack/pixmaps/os.png
Categories=Application;Utilities;System
