# Documentation
docs/       @noptrix @FFY00

# Lists
lists/      @noptrix

# Mirrors
mirror/     @noptrix

# Blackarch Packages
packages/   @noptrix @FFY00

# Scripts
scripts/    @noptrix @FFY00

# Travis
.travis.yml @FFY00
