# Documentation
docs/       @noptrix @edu4rdshl

# Lists
lists/      @noptrix

# Mirrors
mirror/     @noptrix

# Blackarch Packages
packages/   @noptrix @edu4rdshl

# Scripts
scripts/    @noptrix @edu4rdshl
