[Desktop Entry]
Encoding=UTF-8
Name=Netifera
Exec=/usr/share/netifera/netifera
Icon=/usr/share/pixmaps/netifera.png
Type=Application
Terminal=false
MimeType=text/html
StartupNotify=false
Categories=Application;Network;
